:root {
  --purple: #7F56D9;
  --black: #020202;
  --gray: #71717A;
  --gray-500: #F9FAFB;

  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
  background-color: #FFF;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* header starts */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;

  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;

   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo img {
  height: 4.5rem;
}

.header .flex .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--purple);
  font-weight: bold;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--purple);
  cursor: pointer;
}

/* header ends */

/* home starts */
.home-bg {
  background: -webkit-gradient(linear, left top, right top, from(#E0D5F7), color-stop(70%, transparent)), url(../assets/home-img.png) no-repeat;
  background: linear-gradient(90deg, #E0D5F7, transparent 70%), url(../assets/home-img.png) no-repeat;
  
  background-size: cover;
  background-position: center;
}

.home-bg .home {
  min-height: 60rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-bg .home .content {
  width: 50rem;
} 

.home-bg .home .content h3 {
  font-size: 4rem;
  color: var(--purple);
  line-height: 1.4;
  font-weight: lighter;
}

.home-bg .home .content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--purple);
  line-height: 1.2;
}

.home-bg .home .content .click-here {
  border: 1px solid var(--purple);

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;

   padding: 0 1rem;
   border-radius: 999px;
}

.home-bg .home .content .click-here > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  gap: 1.6rem;

  background-color: transparent;
}

.home-bg .home .content .click-here > div img {
  width: 1.6rem;
}

.home-bg .home .content .click-here > div p {
  color: var(--gray);
  font-size: 1.4rem;
}

.home-bg .home .content .click-here a {
  background-color: var(--purple);
  font-size: 1.4rem;
  color: #FFF;
  text-transform: capitalize;
  padding: 0.7rem 2rem;
  border-radius: 999px;
  margin-right: -0.5rem;
}

.home-bg .home .content .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-bg .home .content .review .rating-content
 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  gap: 2rem;
}

.home-bg .home .content .review > p {
  margin-top: 1.6rem;
  color: var(--black);
  font-size: 1.4rem;
}

.home-bg .home .content .review .rating-content .rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.home-bg .home .content .review .rating-content .rating-reviews p {
  color: var(--black);
  font-size: 1.6rem;
}

.home-bg .home .content .review .rating-content .rating-reviews p span {
  color: var(--gray);
  font-size: 1.6rem;
}
/* home ends */
/* faq starts */
.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  background-color: #FFF;
}

.faq .faq-header {
  text-align: center;
  display: grid;

  gap: 1rem;
}

.faq .faq-header h2 {
  font-size: 3.2rem;
  color: var(--purple);
}

.faq .faq-header p {
  font-size: 1.4rem;
  color: var(--gray);
}

.faq .accordion {
  max-width: 600px;
  margin: 0 auto;
}

.faq .accordion .accordion-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  overflow: hidden;
}

.faq .accordion .accordion-item .accordion-header h4 {
  margin: 3.2rem 1rem;
  font-size: 1.7rem;
  font-weight: lighter;
  cursor: pointer;
  color: var(--black);
}

.faq .accordion .accordion-item .accordion-content p {
  margin: 0 1rem;
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--gray);
  padding-bottom: 16px;
}

.accordion-item--active .accordion-content {
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
}

.accordion-item--closed .accordion-content {
  max-height: 0;
  overflow: hidden;
}

.accordion-content {
  transition: max-height 0.3s ease-out;
}

.faq-container {
  background-color: var(--gray-500);
  width: 800px;
  min-height: 40vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  border-radius: 10px;

  gap: 20px;
}

.faq-container img {
  width: 120px;
  height: 56px;
}

.faq-container p {
  font-size: 1.8rem;
  font-weight: 600;
}

.faq-container a {
  background-color: var(--purple);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #FFF;
}
/* faq ends */