:root {
  --purple: #7F56D9;
  --gray: #71717A;

  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
  background-color: #FFF;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* header starts */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;

  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;

   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo img {
  height: 4.5rem;
}

.header .flex .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--purple);
  font-weight: bold;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--purple);
  cursor: pointer;
}

/* header ends */

/* home starts */
.home-bg {
  background: -webkit-gradient(linear, left top, right top, from(#E0D5F7), color-stop(70%, transparent)), url(../assets/home-img.png) no-repeat;
  background: linear-gradient(90deg, #E0D5F7, transparent 70%), url(../assets/home-img.png) no-repeat;
  
  background-size: cover;
  background-position: center;
}

.home-bg .home {
  min-height: 70rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-bg .home .content {
  width: 50rem;
} 

.home-bg .home .content h3 {
  font-size: 4rem;
  color: var(--purple);
  line-height: 1.4;
  font-weight: lighter;
}

.home-bg .home .content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--purple);
  line-height: 1.2;
}

.home-bg .home .content .click-here {
  border: 1px solid var(--purple);

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;

   padding: 0 1rem;
   border-radius: 999px;
}

.home-bg .home .content .click-here > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  gap: 1.6rem;

  background-color: transparent;

}

.home-bg .home .content .click-here > div img {
  width: 1.6rem;
}

.home-bg .home .content .click-here > div p {
  color: var(--gray);
  font-size: 1.4rem;
}
/* home ends */